<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>

<body>
    <div class="container">
        <h1>Looking for a Movie?</h1>
        <form class="input-movie-name" action="/getMoviesByName" method="POST">
            <input type="text" class="movie-name" name="movie" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Movie name'" placeholder="Movie name">
            <button class="search-btn" type="submit">Search Movie</button>
        </form>
    </div>
</body>

</html>
